In [1]:
%pip install pandas numpy scikit seaborn matplotlib statsmodels scipy seaborn

Requirement already satisfied: pandas in d:\python39\lib\site-packages (1.5.2)
Requirement already satisfied: numpy in d:\python39\lib\site-packages (1.26.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (d:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (d:\python39\lib\site-packages)
ERROR: Could not find a version that satisfies the requirement scikit (from versions: none)
ERROR: No matching distribution found for scikit

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
sns.set_style("whitegrid")

In [4]:
df = pd.read_csv('ARIMA.csv')
df.head()

,Month,Financial Year,Chain,Suburb,State,Country,Category,Sales
0,1/1/2016,2015/16,Fashion Direct,Albany,WA,Australia,Womens,8497.10
1,1/1/2016,2015/16,Fashion Direct,Alexandria,NSW,Australia,Womens,8022.13
2,1/1/2016,2015/16,Fashion Direct,Altona,VIC,Australia,Womens,7171.79
3,1/1/2016,2015/16,Fashion Direct,Armidale,NSW,Australia,Womens,6097.48
4,1/1/2016,2015/16,Fashion Direct,Ballarat,VIC,Australia,Womens,6048.55

In [9]:
suburb_counts = df.groupby('State').size().reset_index(name='count')
suburb_counts

  State  count
0   ACT     19
1   NSW    247
2    NT     19
3   QLD    133
4   VIC    133
5    WA     38